/* *********************************** */
/* *** Estilos SOLO para index.html *** */
/* *********************************** */


/* Seccion General que cubre todo */
.contenido
{
    /* width: 900px; */
    min-width: 900px;
    max-width: 1366px;

}



/* --- Zona Superior */

    /* Estilo General para todo el contenido dentro de CUADRADOS */
    .cuadrados
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        

    }


        /* Estilo comun (reset de paddings, margins, etc..) para las 2 columnas (izquierda y derecha) */
        .section_figureColumna
        {
            display: flex;
            flex-direction: column;
            padding: 0px;
            margin-top: 0px;
            margin-left: 0px;
            margin-right: 0px;
        }

        /* Estilo propio para columna izquierda */
        .columna_izq
        {
            margin-right: 20px;
        }

        /* Estilo para columna derecha */
        .columna_der
        {
            margin-left: 20px;
            
        }

            /* Dentro de la columna izq o derecha, hay una SUB DIVISION 
            (flex-diretion COLUM): la imagen y el texto */
            .section_figureColumna_cuadroPeque {
                width: 210px;
                height: 210px;
                background-color: #c4c4c4;
                margin-bottom: 5px;
                align-self: flex-start;

            }

            /* Controla valores comunes en texto de las columnas */
            .textos
            {
                /* caja de texto con tamaño definido de 210px x 210px */
                width: 210px;
                height: 210px;
                
                /* Aparecere barra scroll en Y */
                /* overflow-y: scroll; */

                /* Recorta el texto sobrante de en este caso 210px x 210px */
                /* overflow: hidden; */

            }
            
            /* Valores propios del texto de cada columna */
            .textoIzquierda {
                text-align: left;
            
            }
            
            .textoDerecha {
                text-align: right;
            
            }
            
        /* El unico cuadrado grande */
        .section_cuadradoGrande {
            height: 440px;
            flex-basis: 440px;
            background-color: #c4c4c4;


        }



    main
    {
        margin-top: 20px;
    }

        .zonaCentral
        {
            display: flex;
            flex-direction: column;

        }

        .textoCentrado
        {
            text-align-last: center;    

        }

        .lineaGrande
        {
            height: 20px;
            background-color: brown;

        }

        .circulos
        {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
            margin-bottom: 20px;
            /* height: 210px; */

        }

            .circulo
            {

                flex-basis: 210px;
                height: 210px;
                border-radius: 50%;
                
                /* Figure tiene margin propio */
                margin: 0px;
            }

            .circuloRojo
            {
                background-color: brown;
            }

            .circuloVioleta
            {
                background-color: blueviolet;

            }
