/* *********************************** */
/* *** Estilos SOLO para index.html *** */
/* *********************************** */

.contenido
{
    /* width: 900px; */
    min-width: 900px;
    max-width: 1366px;

}

.cuadrados
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    

}

.section_figureColumna
{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.columna_izq
{
    margin-right: 20px;
}

.columna_der
{
    margin-left: 20px;

}

.section_cuadradoGrande {
    height: 440px;
    flex-basis: 440px;
    background-color: #c4c4c4;


}

.section_figureColumna_cuadroPeque {
    width: 210px;
    height: 210px;
    background-color: #c4c4c4;
    margin-bottom: 5px;
    align-self: flex-start;

}

.textoIzquierda {
    width: 210px;
    height: 210px;
    overflow: hidden;
    text-align: left;

}

.textoDerecha {
    width: 210px;
    height: 210px;
    overflow: hidden;
    text-align: right;

}

main
{
    margin-top: 20px;
}

.zonaCentral
{
    display: flex;
    flex-direction: column;

}

.textoCentrado
{
    text-align-last: center;    

}

.lineaGrande
{
    height: 20px;
    background-color: brown;

}

.circulos
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    /* height: 210px; */

}

.circulo
{
    flex-basis: 210px;
    height: 210px;
    border-radius: 50%;

}

.circuloRojo
{
    background-color: brown;
}

.circuloVioleta
{
    background-color: blueviolet;

}
