.textoJustificado
{
    text-align: justify;
}

.contenidoNoticias
{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    width: 900px;
    max-width: 1366px;
    /* padding: 40px 40px 0px 40px; */
}