/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Fuentes propias */
@font-face 
{
    font-family: "robotoregular";
    font-weight: normal;
    font-style: normal;
    src:
        local("roboto"),
        url("../font/roboto-regular-webfont.woff2") format("woff2"),
        url("../font/roboto-regular-webfont.woff") format("woff");

}

@font-face 
{
    font-family: "shrikhandregular";
    font-weight: normal;
    font-style: normal;
    src:
        local("shrikhandregular"),
        url("../font/shrikhand-regular-webfont.woff2") format("woff2"),
        url("../font/shrikhand-regular-webfont.woff") format("woff");

}

html 
{
    font-family: "robotoregular", sans-serif;
    font-size: 16px;
    background-color: #eeee;
    color: black;
}


body 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

}

/* Seccion General que cubre todo */
.contenido {

    /* Ancho Limitado a 900px */
    width: 900px;

    /* Ancho Flexible con minimo y maximo */
    /* min-width: 900px; */
    /* max-width: 1366px; */
    padding: 40px 40px 0px 40px;

}



.lineaGrande {
    height: 20px;
    background-color: brown;

}


.circulosGeneral
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 210px;
    width: 100%;
    background-color: brown;

}

.agrupacionCirculos
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* min-width: 900px;
    max-width: 1366px; */

}

.circulo {

    flex-basis: 210px;
    /* Tamaño fijo  */
    width: 210px;
    height: 210px;
    border-radius: 50%;

    /* Figure tiene margin propio */
    margin: 0px;

}

.circuloRojo {
    background-color: #6F0000;
}

.circuloVioleta {
    background-color: blueviolet;
}

.circuloEspaciado {
    margin-right: 20px;
}

